version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: go-backend-dev
    env_file:
      - .env.dev
    volumes:
      - .:/app
    depends_on:
      - redis
      - db
    ports:
      - "8000:8000"
    networks:
      - app-network

  redis:
    image: redis:7
    container_name: redis-cache-dev
    restart: always
    ports:
      - "6379:6379"
    networks:
      - app-network

  db:
    image: postgres:15
    container_name: postgres-db-dev
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    volumes:
      - pgdata-dev:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network

  prometheus:
    image: prom/prometheus:v2.47.0
    container_name: prometheus-dev
    restart: always
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data-dev:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    ports:
      - "9090:9090"
    networks:
      - app-network
    depends_on:
      - backend

  grafana:
    image: grafana/grafana:10.1.0
    container_name: grafana-dev
    restart: always
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana-data-dev:/var/lib/grafana
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning:ro
      - ./monitoring/grafana/dashboards:/var/lib/grafana/dashboards:ro
    ports:
      - "3000:3000"
    networks:
      - app-network
    depends_on:
      - prometheus

networks:
  app-network:
    driver: bridge

volumes:
  pgdata-dev:
  prometheus-data-dev:
  grafana-data-dev:
